@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

a{
    display: block;
}

li{
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, blockquote, p, span, a, strong, i, b, u, em{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
} 

form, input, textarea, select, button, label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background: transparent;
    display: block;
    color: inherit;
    appearance: none;
}

svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 75rem;
    margin: 0 auto;
}